* {
  box-sizing: border-box;
}
body {
  width: 1440px;
  display: block;
  margin: 0 auto;
  font-family: "Monoid";
  background-color: #ffffff;
  overflow-x: hidden;
}
/* .design {
  width: 1440px;
  display: flex;
} */

/* вариант с картинкой */
/* .section-1 {
  position: relative;
  width: 1281px;
  height: 1619px;
  background-image: url("../images/fon.svg");
  background-size: cover;
}

.firstimg {
  margin: auto;
  justify-content: space-between;
  position: relative;
}

p {
  position: relative;
  top: 54px;
  left: 213px;
  font-size: 234px;
  color: #ff7b72;
}
.section-2 {
  display: flex;
} */

/* вариант без картинки */

.design {
  background-color: #3d3d3f;
  height: 10900px;
}
.section-1 {
  position: relative;
}
.section-1 {
  .circle {
    background-color: white;
    width: 317px;
    height: 317px;
    border-radius: 100%;
    text-align: center;
    padding: 41.5px;
    color: #ff7b72;
    font-size: 234px;
  }
  .line {
    height: 8px;
    background-color: white;
  }
  p {
    font-size: 234px;
    color: #ff7b72;
  }
}

.circleOne {
  position: absolute;
  top: 30px;
  left: 150px;
}
.circleTwo {
  position: absolute;
  top: 350px;
  left: 500px;
}
.lineOne {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 253px;
  transform: rotate(29deg);
}
.lineTwo {
  position: absolute;
  top: 343px;
  left: 170px;
  width: 153px;
  transform: rotate(136deg);
}
.lineThree {
  position: absolute;
  top: 490px;
  left: 240px;
  width: 465px;
  transform: rotate(175deg);
}
.lineFour {
  position: absolute;
  top: 622px;
  left: 240px;
  width: 100px;
  transform: rotate(-157deg);
}
.lineFive {
  position: absolute;
  top: 575px;
  left: 493px;
  width: 180px;
  transform: rotate(139deg);
}
.lineSix {
  position: absolute;
  top: 383px;
  left: 780px;
  width: 180px;
  transform: rotate(150deg);
}
.lineSeven {
  position: absolute;
  top: 383px;
  left: 1085px;
  width: 144px;
  transform: rotate(-150deg);
}
.lineEight {
  position: absolute;
  top: 930px;
  left: 470px;
  width: 150px;
  transform: rotate(-130deg);
}
.lineNine {
  position: absolute;
  top: 730px;
  left: 665px;
  width: 240px;
  transform: rotate(-120deg);
}
.lineTen {
  position: absolute;
  top: 582px;
  left: 1175px;
  width: 133px;
  transform: rotate(-78deg);
}
.oneP {
  position: absolute;
  top: 414px;
  left: 78px;
}
.twoP {
  position: absolute;
  top: 650px;
  left: 340px;
}
.threeP {
  position: absolute;
  top: 125px;
  left: 938px;
}
.fourP {
  position: absolute;
  top: 272px;
  left: 1232px;
}
.secondImg {
  position: absolute;
  width: 620px;
  height: 492px;
  top: -270px;
  left: 1156px;
}

.section-2 {
  position: relative;
}
.section-2 {
  .circle {
    background-color: #ff7b72;
    width: 204px;
    height: 204px;
    border-radius: 100%;
    text-align: center;
    padding: 38px;
    color: white;
    font-size: 128px;
  }
  .line {
    height: 8px;
    background-color: white;
  }
  p {
    font-size: 128px;
    color: white;
  }
}
.circleThree {
  position: absolute;
  top: 1200px;
  left: 875px;
}
.lineEleven {
  position: absolute;
  top: 980px;
  left: 705px;
  width: 133px;
  transform: rotate(-30deg);
}
.lineTwelve {
  position: absolute;
  top: 840px;
  left: 970px;
  width: 180px;
  transform: rotate(-30deg);
}
.lineThirteen {
  position: absolute;
  top: 1200px;
  left: 700px;
  width: 212px;
  transform: rotate(28deg);
}
.lineFourteen {
  position: absolute;
  top: 1500px;
  left: 810px;
  width: 300px;
  transform: rotate(-85deg);
}
.fiveP {
  position: absolute;
  top: 1020px;
  left: 600px;
}
.sixP {
  position: absolute;
  top: 850px;
  left: 850px;
}
.sevenP {
  position: absolute;
  top: 670px;
  left: 1150px;
}
.therdImg {
  position: absolute;
  top: 1025px;
  left: -300px;
}
.section-3 {
  position: relative;
}
.section-3 {
  h1 {
    font-size: 115px;
    color: #ff7b72;
    font-weight: bold;
  }
  .line {
    height: 8px;
    background-color: white;
  }
}
h1 {
  position: absolute;
  top: 1700px;
  left: 740px;
}
.small1 {
  font-size: 24px;
  font-style: italic;
  color: white;
  position: absolute;
  top: 1850px;
  left: 690px;
}
.lineFifteen {
  position: absolute;
  top: 2000px;
  left: 550px;
  width: 300px;
  transform: rotate(146deg);
}
.lineSixteen {
  position: absolute;
  top: 2010px;
  left: 1050px;
  width: 200px;
  transform: rotate(-90deg);
}
.lineSeventeen {
  position: absolute;
  top: 2264px;
  left: 747px;
  width: 147px;
  transform: rotate(-155deg);
}
.lineEighteen {
  position: absolute;
  top: 2374px;
  left: 300px;
  width: 136px;
  transform: rotate(-90deg);
}
.text1 {
  position: absolute;
  top: 2137px;
  left: 34px;
  font-size: 32px;
  color: white;
  line-height: 45.6px;
}
.text2 {
  position: absolute;
  top: 2488px;
  left: 34px;
  font-size: 32px;
  color: white;
  line-height: 45.6px;
}
.photo {
  position: absolute;
  left: 916px;
  top: 2155px;
  width: 460px;
  height: 460px;
}
.section-4 {
  position: relative;
  /* background-color: #ff7b72;
  margin-top: 3000px;
  height: 1862px;
  width: 1440px; */
}

.square1 {
  position: absolute;
  top: 2867px;
  left: 0px;
  width: 1440px;
  height: 1862px;
  background-color: #ff7b72;
}
.ab2 {
  position: absolute;
  top: 2906px;
  left: 61px;
  font-size: 115px;
  color: #3d3d3f;
  font-weight: 700;
}
.abm1 {
  position: absolute;
  top: 3074.5px;
  left: 636px;
  font-size: 95.26px;
  color: white;
}
.small2 {
  font-size: 24px;
  font-style: italic;
  color: #3d3d3f;
  position: absolute;
  top: 3204.758px;
  left: 737.535px;
}
.text3 {
  position: absolute;
  top: 3288px;
  left: 489px;
  font-size: 36px;
  color: white;
  line-height: 255%;
}
.text4 {
  position: absolute;
  top: 4145px;
  left: 33px;
  font-size: 36px;
  color: white;
  line-height: 255%;
}
.abm2 {
  position: absolute;
  top: 3944px;
  left: 199.2305px;
  font-size: 95.26px;
  color: white;
}
.small3 {
  font-size: 24px;
  font-style: italic;
  color: #3d3d3f;
  position: absolute;
  top: 4074.258px;
  left: 182px;
}
.fourImg {
  position: absolute;
  top: 3140px;
  left: -134px;
}
.fiveImg {
  position: absolute;
  top: 3934px;
  left: 1084px;
  transform: rotate(180deg);
}
.sixImg {
  position: absolute;
  top: 4470px;
  left: -540px;
}
.section-5 {
  position: relative;
}
.ab3 {
  position: absolute;
  top: 4905px;
  left: 501px;
  font-size: 115px;
  color: #ff7b72;
  font-weight: bold;
}
.text5 {
  position: absolute;
  top: 5136px;
  left: 383px;
  font-size: 24px;
  color: white;
  line-height: 32px;
}
.text6 {
  position: absolute;
  top: 5510px;
  left: 206px;
  font-size: 24px;
  color: white;
  line-height: 32px;
}
.text7 {
  position: absolute;
  top: 5446px;
  left: 933px;
  font-size: 24px;
  color: white;
  line-height: 32px;
}
.circleWord1 {
  position: absolute;
  top: 5368px;
  left: 54px;
  background-color: #ffffff;
  width: 23px;
  height: 40px;
  border-radius: 45%;
}
.circleWord2 {
  position: absolute;
  top: 5368px;
  left: 183px;
  background-color: #ffffff;
  width: 23px;
  height: 40px;
  border-radius: 45%;
}
.text8 {
  position: absolute;
  top: 5254px;
  left: 42px;
  font-size: 64px;
  color: #ff7b72;
  line-height: 85px;
}
.text8 span {
  font-weight: bold;
}
.text9 {
  position: absolute;
  top: 5400px;
  left: 680px;
  font-size: 250px;
  color: #ff7b72;
  font-weight: bold;
}
.lineNineteen {
  position: absolute;
  top: 5145px;
  left: 1000px;
  width: 155px;
  height: 8px;
  background-color: white;
  transform: rotate(90deg);
}
.lineTwenty {
  position: absolute;
  top: 5230px;
  left: 691px;
  width: 69px;
  height: 8px;
  background-color: white;
  transform: rotate(-148.61deg);
}
.line21 {
  position: absolute;
  top: 5460px;
  left: 206px;
  width: 114px;
  height: 8px;
  background-color: white;
  transform: rotate(-140deg);
}
.line22 {
  position: absolute;
  top: 5400px;
  left: 399px;
  width: 246px;
  height: 8px;
  background-color: white;
  transform: rotate(-155deg);
}
.line23 {
  position: absolute;
  top: 5472px;
  left: 882px;
  width: 29px;
  height: 8px;
  background-color: white;
  transform: rotate(180deg);
}
.line24 {
  position: absolute;
  top: 5261.5px;
  left: 763px;
  width: 170px;
  height: 2px;
  height: 2px;
  background-color: white;
  transform: rotate(0deg);
}
.line25 {
  position: absolute;
  top: 5325px;
  left: 763px;
  width: 170px;
  height: 2px;

  border: 2px dashed;
  border-color: white;
  transform: rotate(0deg);
}
.line26 {
  position: absolute;
  top: 5340px;
  left: 763px;
  width: 170px;
  height: 2px;

  background-color: white;
  transform: rotate(0deg);
}
.circle4 {
  position: absolute;
  top: 5395px;
  left: 709px;
  width: 151px;
  height: 151px;
  border: 8px white solid;
  border-radius: 100%;
}

.section-6 {
  display: inline-grid;
}
.abm3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 5845px;
  margin-left: 100px;
  font-size: 95.26px;
  color: white;
}
.line27 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 60px;
  margin-left: 170px;
  width: 100px;
  height: 8px;
  background-color: white;
  transform: rotate(98deg);
}
.text10 {
  display: inline;
  font-size: 40px;
  margin-left: 70px;
  margin-top: 70px;
  color: white;
  line-height: 53px;
}
.text10 span {
  color: #ff7b72;
}

.section-7 {
  display: flex;
  flex-direction: column;
}
.t1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 80px;
  margin-left: 220px;
  width: 1000px;
}
.t2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 80px;
  margin-left: 220px;
  width: 1000px;
}
.t3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 80px;
  margin-left: 220px;
  width: 1000px;
}
.line28 {
  display: flex;
  width: 216px;
  height: 8px;
  background-color: white;
  transform: rotate(180deg);
}
.line29 {
  display: flex;
  width: 216px;
  height: 8px;
  background-color: white;
  transform: rotate(180deg);
}
.line30 {
  display: flex;
  width: 216px;
  height: 8px;
  background-color: white;
  transform: rotate(180deg);
}
.line31 {
  display: flex;
  width: 216px;
  height: 8px;
  background-color: white;
  transform: rotate(180deg);
}
.line32 {
  display: flex;
  width: 216px;
  height: 8px;
  background-color: white;
  transform: rotate(180deg);
}
.line33 {
  display: flex;
  width: 216px;
  height: 8px;
  background-color: white;
  transform: rotate(180deg);
}

.text11 {
  display: flex;
  font-size: 96px;
  color: #ff7b72;
}
.text12 {
  display: flex;
  font-size: 96px;
  color: #ff7b72;
}
.text13 {
  display: flex;
  font-size: 96px;
  color: #ff7b72;
}
.text14 {
  display: flex;
  font-size: 96px;
  color: #ff7b72;
}
.text15 {
  display: flex;
  font-size: 96px;
  color: #ff7b72;
}
.text16 {
  display: flex;
  font-size: 96px;
  color: #ff7b72;
}
.text17 {
  display: flex;
  font-size: 96px;
  color: #ff7b72;
}
.text18 {
  display: flex;
  font-size: 96px;
  color: #ff7b72;
}
.text19 {
  display: flex;
  font-size: 96px;
  color: #ff7b72;
}
.section-8 {
  position: relative;
}
.sevenImg {
  position: absolute;
  left: -500px;
  top: -140px;
  transform: rotate(180deg);
}
.section-9 {
  display: inline-grid;
  position: relative;
}
.ab4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1500px;
  margin-left: -200px;
  font-size: 115px;
  color: #ff7b72;
  font-weight: bold;
}
.img8 {
  position: absolute;
  left: 220px;
  top: 160px;
  width: 1080px;
  height: 1080px;
}
.section-10 {
  position: relative;
}
.ab5 {
  position: absolute;
  font-size: 115px;
  color: #ff7b72;
  font-weight: bold;
  top: 700px;
  left: 270px;
}
.circle5 {
  position: absolute;
  background-color: white;
  width: 83.1px;
  height: 83.1px;
  border-radius: 100%;
  top: 800px;
  left: 1260px;
}
.circle6 {
  position: absolute;
  background-color: white;
  width: 243.75px;
  height: 243.75px;
  border-radius: 100%;
  top: 1000px;
  left: 1280px;
}
.circle7 {
  position: absolute;
  background-color: white;
  width: 121.87px;
  height: 121.87px;
  border-radius: 100%;
  top: 1200px;
  left: 302px;
}
.circle8 {
  position: absolute;
  background-color: white;
  width: 160.65px;
  height: 160.65px;
  border-radius: 100%;
  top: 1290px;
  left: 420px;
}
.circle9 {
  position: absolute;
  background-color: white;
  width: 83.1px;
  height: 83.1px;
  border-radius: 100%;
  top: 1490px;
  left: 450px;
}
.circle10 {
  position: absolute;
  background-color: white;
  width: 254.83px;
  height: 254.83px;
  border-radius: 100%;
  top: 1200px;
  left: 800px;
}
.circle11 {
  position: absolute;
  background-color: white;
  width: 478px;
  height: 478px;
  border-radius: 100%;
  top: 1500px;
  left: 920px;
}
.circle12 {
  position: absolute;
  background-color: white;
  width: 315.76px;
  height: 315.76px;
  border-radius: 100%;
  top: 2200px;
  left: 890px;
}
.circle13 {
  position: absolute;
  background-color: white;
  width: 404.4px;
  height: 404.4px;
  border-radius: 100%;
  top: 2690px;
  left: -202px;
}
.circle14 {
  position: absolute;
  background-color: white;
  width: 315.76px;
  height: 315.76px;
  border-radius: 100%;
  top: 2705px;
  left: 400px;
}
.circle15 {
  position: absolute;
  background-color: white;
  width: 310.22px;
  height: 310.22px;
  border-radius: 100%;
  top: 2650px;
  left: 1300px;
}
.circle16 {
  position: absolute;
  background-color: white;
  width: 315.76px;
  height: 315.76px;
  border-radius: 100%;
  top: 3985px;
  left: 400px;
}
.circle17 {
  position: absolute;
  background-color: white;
  width: 315.76px;
  height: 315.76px;
  border-radius: 100%;
  top: 3985px;
  left: 1300px;
}
.line34 {
  position: absolute;
  top: 1000px;
  left: 1220px;
  width: 280px;
  height: 8px;
  background-color: white;
  transform: rotate(-110.13deg);
}
.line35 {
  position: absolute;
  top: 2000px;
  left: 900px;
  width: 440px;
  height: 8px;
  background-color: white;
  transform: rotate(100deg);
}
.line36 {
  position: absolute;
  top: 1350px;
  left: 520px;
  width: 300px;
  height: 8px;
  background-color: white;
  transform: rotate(175deg);
}
.line37 {
  position: absolute;
  top: 1330px;
  left: 390px;
  width: 100px;
  height: 8px;
  background-color: white;
  transform: rotate(40deg);
}
.line38 {
  position: absolute;
  top: 1490px;
  left: 445px;
  width: 100px;
  height: 8px;
  background-color: white;
  transform: rotate(90deg);
}
.line39 {
  position: absolute;
  top: 1490px;
  left: 900px;
  width: 300px;
  height: 8px;
  background-color: white;
  transform: rotate(49deg);
}
.line40 {
  position: absolute;
  top: 1300px;
  left: 1040px;
  width: 500px;
  height: 8px;
  background-color: white;
  transform: rotate(-60deg);
}
.line41 {
  position: absolute;
  top: 2530px;
  left: 980px;
  width: 500px;
  height: 8px;
  background-color: white;
  transform: rotate(230deg);
}
.line42 {
  position: absolute;
  top: 2585px;
  left: 600px;
  width: 500px;
  height: 8px;
  background-color: white;
  transform: rotate(-230deg);
}
.line43 {
  position: absolute;
  top: 2900px;
  left: 195px;
  width: 215px;
  height: 8px;
  background-color: white;
  transform: rotate(174deg);
}
.line44 {
  position: absolute;
  top: 3402px;
  left: -40px;
  width: 1202px;
  height: 8px;
  background-color: white;
  transform: rotate(90deg);
}
.text20 {
  position: absolute;
  top: 1650px;
  left: 120px;
  font-size: 90px;
  color: white;
  line-height: 140%;
  font-weight: bold;
}
.text20 span {
  color: #ff7b72;
  font-weight: 400;
}
.text21 {
  position: absolute;
  top: 3050px;
  left: 640px;
  font-size: 90px;
  color: white;
  line-height: 140%;
  font-weight: bold;
  width: 1000px;
}
.text21 span {
  color: #ff7b72;
  font-weight: 400;
}
.ab6 {
  position: absolute;
  font-size: 115px;
  color: #ff7b72;
  font-weight: bold;
  top: 1686.25px;
  left: 962px;
}
.section-11 {
  display: flex;
  height: 296px;
}
.square2 {
  display: flex;
  margin-top: 4100px;
  margin-left: 0px;
  width: 1440px;
  height: 296px;
  background-color: #ffffff;
}
.text22 {
  display: flex;
  justify-content: space-between;
  font-size: 64px;
  color: #3d3d3f;
  font-weight: bold;
  margin-top: 69.5px;
  margin-left: 36.5px;
  line-height: 80px;
}
.text22 span {
  color: #ff7b72;
}
.imgLast {
  display: flex;
  justify-content: space-between;
  margin-top: 69.5px;
  margin-left: 235.5px;
  width: 399px;
  height: 169px;
}
